<h3>Income Statement</h3>

<div >
    <form name="CalcForm">

        <input id="myIncome" class="goodLooking" ng-model="$ctrl.bruto" input-range-helper ng-init="$ctrl.bruto = 0"  type="range" min=0 max=250000  />

        <div class="space">
            <label for="bruto">Bruto income</label> <br>
            <input type="number" class="goodLooking" id="bruto" ng-model="$ctrl.bruto"  min="0" required="true"  />
        </div>

        <input id="partnerIncome" class="goodLooking" ng-model="$ctrl.brutoPartner" input-range-helper ng-init="$ctrl.brutoPartner = 0"  type="range" min=0 max=250000  />

        <div class="space">
            <label for="partner">Partner Bruto</label> <br>
            <input type="number" class="goodLooking" ng-model="$ctrl.brutoPartner" id="partner"  required="true"  />
        </div>

        <!--<button type="button" class="button" min="0" id="btnCalc" ng-click="calcCtrl.requestMax()" >Calculate</button>-->

        <input type="submit"  ng-model="$ctrl.button"  class="button" ng-disabled="CalcForm.$invalid" ng-class="{error: !CalcForm.$valid}" id="btnCalc" ng-click="$ctrl.requestMax()" value="Calculate">

        <!--<input type="submit"  ng-model="calcCtrl.button"  class="button"  id="btnCalc" ng-click="calcCtrl.requestMax()" value="Calculate">-->

    </form>

    <div  class="margin-top"> The max loan you can get is : {{$ctrl.maxLoan | currency:"€":2}}
        <span class="underline cursorHand" ng-if="$ctrl.haveResponse" ng-click="$ctrl.showConditions()" ng-link="['Conditions']"> [Here you have the conditions] </span>
    </div>
</div>
