<h3>Current hipotec rent</h3>
<p></p>
<div>
    <div id="interest">{{$ctrl.interest}}</div>
    <div class="space">
        <label for="monthly">Combine income</label> <br>
        <input type="number" min=0 class="goodLooking" id="monthly"  data-ng-model="$ctrl.combineIncome"/>
    </div>
<!--{{$ctrl.combineIncome}}-->
    <button type="button" class="button" id="btnRent" ng-click="$ctrl.calculateCost()">Calculate cost per month</button>

    <div id="brutoMonth" class="margin-top"> {{$ctrl.month | currency:"€":2}}</div>

</div>
